RewriteEngine On

# Redirect requests with .html to clean URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Remove index.html from URLs
RewriteRule ^index/?$ index.html [L]
RewriteRule ^$ index.html [L]  # Redirect root URL to index.html

# Clean URLs without .html
RewriteRule ^apps/?$ apps.html [L]
RewriteRule ^settings/?$ settings.html [L]
